
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class ="navbar-nav">
        <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'accounts:user_logout' %}">Logout</a>
        <a href='{% url 'accounts:user_profile' request.user.id %}' class='navbar-brand'>profile</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'accounts:user_register' %}">Register</a>
        <a class="navbar-brand" href="{% url 'accounts:user_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav> 

