<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    {% block title %}{% endblock  %}
</head>
<body>
    {% include 'include/navbar.html' %}
    {% include 'include/messeges.html' %}
    
    
    <div class='container'>
        {% block content %} {% endblock %}
        {% block profile_content %}{% endblock  %}
        {% block edit_profile_content %}{% endblock  %}
        {% block signup_content %}{% endblock  %}
    <div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>